.section {
    position: relative;
    background-color: #323032;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 7.5%;
    width: 1px;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
}
.section:after{
    content: '';
    position: absolute;
    top: 0;
    right: 7.5%;
    width: 1px;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
}

.general {
    position: relative;
    width: 70%;
    display: flex;
    gap: 80px;
}



.content_1 p {
    font-size: 17px;
    max-width: 500px;
    color: #ffffff;
    font-family: Calibri;
    padding-top: 40px;
}

.content_2{
    border: solid 2px #e20613;
    padding: 32px;
    line-height: 50px;


}

.content_2 h2 {
    color: #fff;
    max-width: 374px;
    margin-bottom: 40px;


}

.content_2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #e20613;
    color: #ffffff;
    font-family: 'IntegralCF';
    transition: all 1s ease-in-out;
}

.content_2 a:hover {
    background-color: #ffffff;
    color: #e20613;
    border: 1px solid #e20613;
    cursor: pointer;
}