.Swiper {
    height: auto;
    margin-left: -10px !important;
    margin-bottom: 100px;
}


.pagination{
    position: absolute;
    color: #e20613;
    z-index: 999;
    left: 52%;
    bottom: -25px;
    font-size: 60px;
    cursor: pointer;
}
.pagination2{
    position: absolute;
    color: #e20613;
    z-index: 999;
    left: 45%;
    bottom: -25px;
    font-size: 60px;
    cursor: pointer;
}

.SwiperSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    color: white;
}

.badge {
    position: absolute;
    top: 27px;
    right: 25px;
    width: 51px;
    font-weight: 800;
    font-size: 16px;
    height: 58px;
}

.SwiperSlide button{
    border: 1px solid red;
    padding: 4px 10px;
    margin-top: 10px;
    font-weight: 800;
}

.SwiperSlide:hover {
    transform: translateY(-50px);
    transition: 1s;
}

.SwiperSlide img{
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.container_text {
    transition: 0.8s;
}

.SwiperSlide:hover .container_text {
    opacity: 1;
    transition: 0.7s;
}
.SwiperSlide:hover button {
    display: block;
    transition: 0.7s;
}

/* @media (min-width: 1300px) {
    .badge {
        top: 11px;
        right: 65px;
    }
} */
@media (max-width: 980px) {
    .pagination{
        left: 54%;
    }
    .pagination2{
        left: 39%;
    }
}

@media (max-width: 640px) {
    .badge {
        right: 63px;
    }
    .pagination{
        left: 54%;
    }
    .pagination2{
        left: 30%;
    }
}
