
.dropdown a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.dropdown a i{
    font-size: 12px;
}
.dropdown_content a {
    color: white;
    transition: 1s;
}

/* Dropdown Menu */

.dropdown .arrow1 {
    font-size: 12px;
}

.dropdown button:hover {
    color: white;
}

.dropdown svg:hover {
    color: #E20613;
}

.dropdown a {
    cursor: pointer;
}

.dropdown a:hover {
    border-bottom: 2px solid red;
    color: white;
}

.dropdown_content p:hover {
    /* color: #58BDC9 !important; */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background: #323032;
    min-width: 200px;
    max-height: 310px;
    padding: 0 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown_content a {
    font-size: 13px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #E20613;
    width: 130%;
    margin-left: -24px;
    padding: 3px;
    padding-left: 24px;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.47);
}

.dropdown:hover .dropdown_content {
    display: flex;
    flex-direction: column;
}

.botonMovil {
    display: none;
}

.blog_item a:hover{
    border-bottom: 2px solid red;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .botonMovil {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background-color: #FFFFFF;
        color: #173A83;
        border: none;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        z-index: 1001;
        transition: 0.5s;
    }

    .menu {
        background-color: #173A83;
        position: fixed;
        right: 0;
        min-height: 100vh;
        height: 100%;
        width: 0;
        top: 120px;
        transition: 0.5s;

    }

    .menu ul li {
        opacity: 0;
    }

    /* .list_menu ul{
        padding-top: 50px;
        color: #FFFFFF;
    } */

    .menuActive {
        background-color: darkgrey;
        position: fixed;
        right: 0;
        min-height: 100vh;
        height: 100%;
        width: 50%;
        top: 0px;
        transition: 0.5s;
        z-index: 1000;
    }

    .menuActive ul li a {
        color: #ffffff;
        transition: 1s;
        padding-top: 50px;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 136px 50px;
        list-style: none;
        font-size: 17px;
        color: #ffffff;
    }

    .menuActive ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 136px 50px;
        list-style: none;
        font-size: 17px;
        color: #ffffff;
    }

}