.title_main {
    line-height: 2.5rem;
}

.container_text button{
    background-color: #e20613;
}

.container_text h3 {
    font-family: voyage,sans-serif;
    font-weight:bold;
    font-size: 60px;
}


@media (min-width: 768px){
    .title_main {
        line-height: 4.5rem;
    }
}