.container_blog {
    position: relative;
}

.container:before {
    content: '';
    position: absolute;
    top: 903px;
    left: 10%;
    width: 30px;
    height: 30px;
    background-image: url("/images/apoyo_grafico/trebol.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 4;
    background-color: #323032;
}

.container_blog:before {
    content: '';
    position: absolute;
    top: 0;
    left: 10.8%;
    background-color: #ffffff;
    width: 1px;
    height: 97.3%;
}

.container_blog:after {
    content: '';
    position: absolute;
    top: 0;
    right: 11.5%;
    background-color: #ffffff;
    width: 1px;
    height: 97.3%;
}

@media (min-width: 1300px) {
    .container:before {
        left: 4%;
        top: 853px;
    }
    .container_blog:before {
        left: 4.8%;
        height: 91.4%;
    }
    .container_blog:after {
        right: 4.8%;
        height: 91.4%;
    }
}
@media (max-width: 640px) {
    .container_blog:before {
        display: none;
    }
    .container_blog:after {
        display: none;
    }
}