.section {
    position: relative;
    background-color: #323032;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.general {
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 100px 0 0 0;
}

.general:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 95%;
    background-color: #ffffff;
    z-index: 4;
}

.general:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 37%;
    background-color: #ffffff;
    z-index: 4;
}


.cardGeneral_1 {

    display: flex;
    justify-content: flex-end;
}

.cardGeneral_1 .content {
    position: absolute;
    left: 120px;
    border: 2px solid #e20613;
    padding: 40px;
    margin-top: 200px;
    z-index: 7;
}

.section:before {
    content: '';
    position: absolute;
    margin-top: 200px;
    left: 0;
    width: 92.5%;
    height: 500px;
    background-color: #262526;
    z-index: 5;
    margin-bottom: 20px;
}

.section:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #323032, rgba(8, 14, 29, 0));
    z-index: 2;
}
.cardGeneral_1{
    padding: 0 40px 0 0;
}
.cardGeneral_1 .content h2 {
    font-size: 77px;
    color: #ffffff;
    line-height: 90px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);

}

.cardGeneral_1 .cardImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    z-index: 6;
}

.cardGeneral_1 .cardImg img {
    max-width: 100%;
    width: 100%;
}



.cardGeneral_1 .cardImg img:nth-child(1) {
    position: relative;
    max-height: 100%;
    height: 540px;

}

.cardGeneral_1 .cardImg img:nth-child(2) {
    position: relative;
    max-height: 100%;
    height: 500px;
    margin-top: 100px;
    padding-bottom: 20px;
}

.cardGeneral_1 h3 {
    font-size: 120px;
    line-height: 80px;
}


.textoApoyo {
    position: absolute;
    top: 70px;
    left: 130px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    z-index: 1;
}

.textoApoyo span {
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 77px;
    font-family: 'IntegralCF';
    color: transparent;
    margin: -15px;
    padding-left: 8px;
}



.cardGeneral_2{
    position: relative;
    display: flex;
    align-items: flex-end;
    z-index: 6;
}

.cardGeneral_2 .singleImg{
    position: relative;
    z-index: 6;
    top: -80px;
}
.cardGeneral_2 .singleImg img {
    max-width: 100%;
    width: 650px;
    max-height: 100%;
    height: 350px;
    padding-top: 40px;

}

.cardGeneral_2 .content {
    position: relative;
    max-width: 450px;
    background-color: #e20613;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    top: -83px;
}

.cardGeneral_2 .content p{
    color: #ffffff;
    font-family: Eina03;
}

.cardGeneral_2 .content a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #323032;
    width: 100%;
    height: 40px;
    color: #ffffff;
    font-family: 'IntegralCF';

}
.cardGeneral_2 a:hover {
    background-color: #ffffff;
    color: #e20613;
    border: 1px solid #e20613;
    cursor: pointer;
    transition: all 1s ease-in-out;
}