.content_footer{
    display: flex;
    position: relative;
}
.content_footer p{
    font-family: Eina03 ;
}

.content_line:before {
    content: '';
    position: absolute;
    top: 0;
    left: 7.50%;
    background-color: #ffffff;
    width: 1px;
    height: 100%;
}

.content_line:after {
    content: '';
    position: absolute;
    top: 0;
    right: 4.50%;
    background-color: #ffffff;
    width: 1px;
    height: 100%;
}

.content_footer0 h2{
    color: red;
    font-weight: 500;
    font-size: 24px;
}

.content_footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content_footer h4{
    color: red;
    font-weight: 500;
    font-size: 24px;
}

.items{
    display: flex;
    align-items: center;
    gap: 20px;
}