.container{
    background-image: url("/images/Personalize/res4.png");
    background-repeat: no-repeat;
    
}

.title_main {
    line-height: 2.5rem;
}

.container_text button{
    background-color: #e20613;
}

.container_text:before {
    content: '';
    position: absolute;
    top: 0;
    left: 7.5%;
    background-color: #ffffff;
    width: 1px;
    height: 100%;
    z-index: 1;
}

.container_text:after {
    content: '';
    position: absolute;
    top: 0;
    right: 4.5%;
    background-color: #ffffff;
    width: 1px;
    height: 100%;
    z-index: 1;
}
