.container{
    background-image: url("/images/Personalize/res4.png");
    background-repeat: no-repeat;
    
}

.title_main {
    line-height: 2.5rem;
}

.container_text button{
    background-color: #e20613;
}