.section {
    background-color: #323032;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 7.5%;
    background-color: #ffffff;
    width: 1px;
    height: 100%;
    z-index: 1;
}

.section:after {
    content: '';
    position: absolute;
    top: 0;
    right: 7.5%;
    background-color: #ffffff;
    width: 1px;
    height: 100%;
    z-index: 1;
}

.general {
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title {
    width: 100%;
    background-color: #262526;
    padding: 60px 10px 200px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title h2 {
    color: #ffffff;
    text-align: center;
}


.title h3 span {
    font-size: 120px;
}

.slider {
    position: relative;
    margin-top: -150px;
    width: 100%;
    margin-bottom: 50px;
    padding: 0 40px;
}

.slider:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -11px;
    background-image: url("/images/apoyo_grafico/circulo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    z-index: 2;
}

.slider:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -11px;
    background-image: url("/images/apoyo_grafico/circulo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    z-index: 2;
}