.container_process:before {
    content: '';
    position: absolute;
    top: 0;
    left: 7.50%;
    background-color: #ffffff;
    width: 1px;
    height: 98%;
}

.container_process:after {
    content: '';
    position: absolute;
    top: 0;
    right: 4.50%;
    background-color: #ffffff;
    width: 1px;
    height: 98%;
}



