.form{
    display: flex;
    justify-content: space-around;
    padding-top: 180px;
}


.div_form{
    display: flex;
}

.form h2 {
    font-family: voyage,sans-serif ;
    font-weight:bold;
    font-size: 60px;
    color: white;
}

.button{
    background-color: #e20613;
    text-align: center;
}
.button button{
    height: 50px;
}

.form_content{
    width: 40%;
}

.form_content input{
    width: 100%;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 5px;
}