
.div_li img{
    width: 600px;
    height: 250px;

}

.div_im {
    margin-bottom: -16px;
}

.textoApoyo span {
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 77px;
    font-family: 'Integral-Bold';
    color: transparent;
    margin: -10px;
}
.cardGeneral_1 {

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
