.section {
    position: relative;
    background-color: #323032;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section:before {
    content: '';
    position: absolute;
    top: -30px;
    left: 6.7%;
    width: 24px;
    height:24px;
    background-image: url("/images/apoyo_grafico/estrella.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 4;
}

.section:after {
    content: '';
    position: absolute;
    top: -30px;
    right: 6.7%;
    width: 24px;
    height:24px;
    background-image: url("/images/apoyo_grafico/linea-recta-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 4;
}


@media (min-width: 768px){
    .title_main {
        line-height: 4.5rem;
    }
}