@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Eina01';
  src: url('/fonts/Eina01-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Eina02';
  src: url('/fonts/Eina02-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Eina03';
  src: url('/fonts/Eina03-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Eina04';
  src: url('/fonts/Eina04-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'IntegralCF';
  src: url('/fonts/IntegralCF-ExtraBold.otf') format('truetype');
}

@font-face {
  font-family: 'Voyage';
  src: url('/fonts/Voyage-Bold.otf') format('truetype');
}

html,

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: Eina01, Eina02, Eina03, Eina04, IntegralCF, Voyage, sans-serif;
    background-image: url("/images/general/general_background.png");
    background-size: cover;
    height: auto;
    scroll-behavior: smooth;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-wrapper {
  margin-top: 35px !important;
  margin-bottom: 20px;
}

.swiper-pagination {
  position: relative !important;
  font-size: 20px;
  right: 144px;
  bottom: 8px;
}

.rounded-2xl{
  border-radius: 0;
}

p{
  font-size: 14px;
  font-family: Voyage, sans-serif;
  color: white;
}

h3{
  font-family:Voyage;
}

h1,h2 {
  font-family: IntegralCF, sans-serif;
}

h4{
  font-family: IntegralCF, sans-serif;
}
button {
  /* font-family:IntegralCF, sans-serif; */
}



